* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
}

body {
    overflow: hidden;
}

div.wrapper {
    display: flex;
    min-height: 100vh;
    max-width: 1920px;
    background-image: url(images/bricks.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

section.controller,
section.building {
    padding: 20px;
    max-height: 100vh;
    box-shadow: 0 0 10px 5px #000;
}

section.controller {
    flex-basis: 300px;
    margin: 10px;
    background-color: rgba(173, 216, 230, .9);
    font-size: 0;
}

section.building {
    position: relative;
    flex-grow: 1;
    width: 0;
    margin: 10px;
    background-color: rgba(65, 105, 225, .9);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

section.controller h1 {
    margin-bottom: 30px;
    font-size: 5rem;
    text-align: center;
    color: rgb(54, 54, 54);
}

section.controller h1:after {
    content: "";
    display: block;
    margin: 0 auto;
    height: 5px;
    width: 85%;
    background-color: #000;
}

section.controller h2 {
    margin-bottom: 20px;
    font-size: 4rem;
    color: rgb(54, 54, 54);
}

section.controller h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 2rem;
    color: rgb(54, 54, 54);
}

section.controller button {
    display: block;
    width: 70%;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    transition: .2s;
}

section.controller button:hover {
    box-shadow: 0 0 5px black;
    background-color: rgba(0, 0, 0, .1);
}

section.controller button:active {
    background-color: rgba(0, 0, 0, .5);
}

section.controller button:focus {
    outline-style: none;
}

section.controller h3~button {
    display: inline-block;
    margin: 0;
    padding: 0 5px;
    width: 40%;
    font-size: 4rem;
}

section.controller h3+button {
    margin-right: calc(100% - (2 * 40%));
}

section.building div {
    /* position: absolute;
    top: 0;
    left: 0; */
    margin: 5px;
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 3rem;
    background-color: #000;
}